{% extends './base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="{% url 'more' last.id %}"><img class="card-img-top" src="{{ last.image.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{last.created}}</div>
                    <h2 class="card-title">{{ lats.title }}</h2>
                    <p class="card-text">{{ last.shortBody }}</p>
                    <a class="btn btn-primary" href="{% url 'more' last.id %}">Дэлгэрэнгүй →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for news in newss %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="{% url 'more' news.id %}"><img class="card-img-top" src="{{news.image.url}}" alt="..." /></a>
                        <div class="card-body">
    
                            <div class="small text-muted">{{news.created | timesince}} ago</div>
                            <h2 class="card-title h4">{{news.title}}</h2>
                            <p class="card-text">{{news.shortBody}}</p>
                            <a class="btn btn-primary" href="{% url 'more' news.id %}">Дэлгэрэнгүй →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination-->
            
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Төрлүүд</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                    <li><a href="#!">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
