{% extends './base.html' %}
{% load templatetags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{news.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{news.created}}</div>
                    <!-- Post categories-->
                    {% for cat in news.categories.all %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ cat.name }}</a>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{news.image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    {{ news.body | safe }}
                </section>
            </article>

        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            
            <!-- Categories widget-->
            {% get_category %}
            
        </div>
    </div>
</div>

{% endblock %}